.box{
    float:left;
    margin-right:20px;
}
.box_left{
    position: absolute;
    left: 0px;
    width:100%;
    margin:auto;
    padding:auto;
}
.box.right{
    float:right;
    margin-left:20px;
}
.box.center{
    width:100%;
    margin:auto;
}
.clear{
    clear:both;
}
.img.center {
    display: block;
    margin: 0 auto;
}
.reveal ul {
    display: block;
}
#box_left{
    left: 20px;
    width:50%;
    margin:auto;
    padding:auto;
    float:left;
}
#box_right{
    left: 0px;
    width:50%;
    margin:auto;
    padding:auto;
    float:right;
}
#box_ne {
  position: absolute;
  right: 50px;
  width: 50%;
  float: right;
  margin:auto;
  padding:auto;
}
#box_nw {
  position: absolute;
  left: 50px;
  width: 50%;
  float: left;
  margin:auto;
  padding:auto;
}
#box_se {
  position: absolute;
  right: 50px;
  top: 330px;
  width: 50%;
  float: right;
  margin:auto;
  padding:auto;
}
#box_sw {
  position: absolute;
  left: 50px;
  top: 330px;
  width: 50%;
  float: left;
  margin:auto;
  padding:auto;
}
#citation {
    text-align: left;
    font-size : 12pt;
}

.reveal h3 {
  margin-top: 50px;
}

.reveal .footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 8%;
  /*background-color:  #ffc300;*/
}

.reveal .logo {
  /*float: left;*/
  position: absolute;
  bottom: -10px; 
  left: 10px;
  max-width: 200px;
}

.reveal .webpage {
  /*margin: auto;*/
  position: absolute;
  bottom: 30px;
  left: 300px;
  color: #5e81bb;
  font-size: 0.7em;
  max-width: 350px;
}

.reveal .twitter {
  /*float: right;*/
  position: absolute; 
  bottom: 30px;
  left: 800px;
  color: #5e81bb;
  font-size: 0.7em;
}

.reveal .emph {
  display: inline;
  color: #268bd2;
}

.reveal li {
  margin-bottom: 20px;
}

.reveal section {
  margin-top: 0px;
}

/*
.reveal h3 {
  background-color:  #ffc300;
}
*/

.reveal h3 {
  background-color:  #668000;
}

/* redefine strikethrough */
.reveal del {
 font-style: normal;
 color: #268bd2;
 text-decoration: none; 
}

code.undefined {
 color: #268bd2;
}

.blue-text {
  color: #268bd2;
}
.red-text {
  color: #ff6347;
}
.yellow-text {
  color: #ffc300;
}
